$primary: #0074AD;
$primary-light: #0088CB;
$primary-lighter: #2c5bd0;
$text-light: #a7bbeb; //#86a1e4;
$text-on-primary: #fff;

$sidenav-width: 16rem;
$sidenav-gutter: 1.5rem;
$icon-width: 2.25rem;
$icon-size: 1.15rem;
$radius: 1rem;
$radius-sm: .5rem;
$timing: ease-out;
$duration: 250ms;